@using WebApplication1.Models;
@using WebApplication1.Controllers;
@{
    
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
       @{
       
           
           
          
           
        }
    </div>
</body>
</html>
